{% extends "posts_base.html" %}


{% block content %}

    

    <form action="/posts/add" method="post" class="d-flex flex-column m-2 w-100">

        <div class="mb-3">
            <label for="postTitle" class="form-label">Post title</label>
            <input type="text" name="postTitle" class="form-control" id="postTitle" required>
        </div>

        <div class="mb-3">
            <label for="postText" class="form-label">Post text</label>
            <textarea type="text" name="postText" class="form-control" id="postText" rows="10" required style="resize: none" ></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">New post</button>
        
    </form>

     

{% endblock %}